<h1 *ngIf="true">Hello directive!!!</h1>

<p>directive works!</p>

<h1 *ngfor="let age of ages">My age is {{ages}}</h1>

<p *ngfor="let state of states; let i=index ">state {{i+1}} name is {{state}}</p>

<ol type="I">
    <li *ngFor="let state of states">{{state}}</li>
</ol>

<select name="" id="">
    <option *ngFor="let state of states">{{states}}</option>
</select>

<p *ngFor="let product of products">
    The {{product.name}} price is {{product.price}} and rating is {{product.rating}}.

</p>
<table border="1"> 
    <thead>
        <tr>
            <th>Name</th>
            <th>price</th>
            <th>Rating</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{product.name}}</td>
            <td [ngClass]="{'red':product.price<=1000, 'blue' : product.price>1000&&product.price<=5000,'green':product.price>500}">{{product.price}}</td>
            <td [ngStyle]="{'color':product.rating>3?'green':'red'}">{{product.rating}}</td>

        </tr>
    </tbody>
</table>
<table border="1">
    <thead>
    <tr>
        <th>Name</th>
        <th>companies</th>
        <th>Experience</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let Company of companies">
            <td>{{Company.name}}</td>
            <td>{{Company.Company}}</td>
            <td>{{Company.Exp}}</td>
        </tr>
    </tbody>
</table>


